<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297475461915-dcbsfhal5k7svie45h7onvhknuhhnr85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297475461915-dcbsfhal5k7svie45h7onvhknuhhnr85</string>
	<key>API_KEY</key>
	<string>AIzaSyAQc6263Mn-v1CRKxWLYvCFp-43RrZbEtk</string>
	<key>GCM_SENDER_ID</key>
	<string>297475461915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.nextlevels.loveyou</string>
	<key>PROJECT_ID</key>
	<string>loveyou-98340</string>
	<key>STORAGE_BUCKET</key>
	<string>loveyou-98340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297475461915:ios:7fb4b653f01eebbcdfb9be</string>
</dict>
</plist>